.mainInput{
  border:none;
  text-align: center;
}
.addBtn{
  border: 1px solid white;
  background-color: #009efd;
  color:white;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  margin:5px;
}
.ulList{
  display:flex;
  flex-direction: column;
  
}
.listElement {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.textSpan{
  margin:2px;
}
.deleteBtn{
  border: 1px solid white;
  background-color:#e64942;
  color:white;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  margin:5px;
}

.clearBtn{
  background-color: white;
  border: 1px solid #2af598;
  color:#2af598;
  padding:10px;
  margin-top:50px;
}
 
