.mainInput{
  border:none;
  text-align: center;
  
}

.mainInput:hover{
 
}

h2 {
  font-family:'Caveat', cursive;
  margin:50px;
  position: relative;
}

.Btn{
  border: 1px solid white;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  margin:5px;
  cursor: pointer;
  color:white;
}

.Btn:active{
  transform: translateY(2px);
}
.addBtn{
  background-color: #009efd;
}

.deleteBtn{
  background-color:#e64942;
}

.ulList{
  display:flex;
  flex-direction: column;
  
}
.listElement {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  animation-name: listElements;
  animation-duration: 0.5s;
}

@keyframes listElements {
  0%   {color: white;}
  100% {color: black;}
}

.textSpan{
  margin:2px;
}

.clearBtn{
  font-family:'Caveat', cursive;
  font-size: 20px;
  background-color: #2af598;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding:10px;
  margin-top:50px;
  cursor: pointer;
  transition: 0.5s;
  font-weight: bold;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.clearBtn:hover{
  background-color: #2af598;
  color:white;
}


.clearBtn:before{
  content: "";
  height: 100%;
  width:40px;
  background-color: white;
  display: block;
  position:absolute;
  top:0;
  left: -61px;
  transform: skewX(-45deg) translateX(0px);
  transition: none;
}

.clearBtn:hover:before{
  transform: skewX(-40deg) translateX(199px);
  transition: all 0.3s ease-in;
}  

.clearBtn:focus,
.deleteBtn:focus,
.addBtn:focus,
.mainInput:focus{
  outline:none;
}
