.mainInput{
  border:none;
  text-align: center;
}
.addBtn{
  border-radius: 100%;
  width: 25px;
  height: 25px;
  margin:5px;
}
.ulList{
  
}
.listElement {
  list-style: none;
  
}

.deleteBtn{
  
}

.clearBtn{
  
}

